* {
scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffe8d0;
font-family: Sans-serif;
 display: flex;
 flex-direction: column;
}
.Nav-header {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #da5401;
  justify-content: space-between;
  align-items: center;
  top: 0;
  color: #dfdfe2;
  padding-left: 20px;
  border-radius: 100px;
}

#navbar {
  width: 50%;
  max-width:300px;
  min-height: 50px;
}

#navbar > ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-inline-start:0;
  margin-block: 0;
  height: 100%;
  margin-left: -260px;
  overflow: hidden;
}

#navbar > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}
 a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #000;
  cursor: pointer;
}
#name {
  text-align: center;
  font-size: 40px;
}

span:hover {
  font-weight: 1000;
  text-indent: 20px;
  transition: text-indent 1s ease-in;
}
.title {
  color: #da5401;
  margin-bottom: 0;
}
.color {
  color: #da5401;
}
 hr{
   border: 2px solid #da5401;
   margin-top: 5px;
   
 }
 .break {
   border: 0.5px solid grey;
   margin-bottom: 30px; 
 }
 .footer {
   width: 100%;
   height: 50px;
   background-color: #da5401;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
margin-bottom: 30px;   
border-radius:50px;
 }
 .outer-link:hover {
   color: blue;
 }
.outer-link:visited {
  color: #dfc5fe;
   }
   .allergen {
     text-align: center;
   }
   @media only screen and (min-width: 850px) {
     body {
       flex-direction: row;
     }
     .Nav-header {
       display: flex;
       flex-direction: column;
      background-color: #da5401;
       height: 100%;
  width: 300px;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
   }
   #navbar > ul {
     background-color: #da5401;
     width: 200px;
     padding-bottom: 300px;
     padding-left: 170px;
  text-decoration: none;
  font-size: 25px;
  display: block;
   }
   #navbar > ul > li {
     width: 200px;
background-color: #da5401;
border-bottom: 1px solid #fff;
   padding: 20px;
   }
   #main-doc {
     margin: 0 20px ;
     margin-left: 350px;
   }
   }
